<div class="visible-img image-container">
    <!--Show if book images exists-->
    <img *ngIf="book.image !== undefined" class="materialboxed" src="{{book.image}}" alt="">
            
    <img *ngIf="book.image === undefined || book.image == ''" class="materialboxed" src="assets/img/common/no-image.jpg" alt="">

    <!--Add to cart and price-->
    <ng-template ngFor let-country [ngForOf]="book.countries">
    <ng-template [ngIf]="country.price > 0 && country.state == 'STOCK' && country.name == currentCountry && !dummy">
        <div class="scroll-info">
        <p class="price" *ngIf="book.price !== 0">{{country.price | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}</p>
        <div class="add-to-cart">
            <input type="number" [(ngModel)]="qtyInput" placeholder="Cantidad...">
            <a class="button danger waves-effect waves-light" (click)="addToCart(book, country.price, qtyInput)">Añadir al carrito</a>
        </div>
        </div>
    </ng-template>
    </ng-template>

    <!--Test interface-->
    <div *ngIf="dummy">
    <ng-template ngFor let-country [ngForOf]="book.countries">
        <ng-template [ngIf]="country.price > 0 && country.state == 'STOCK' && country.name == 'COLOMBIA'">
        <div class="scroll-info">
            <p class="price" *ngIf="book.price !== 0">{{country.price | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}</p>
            <div class="add-to-cart">
            <input type="number" [(ngModel)]="qtyInput" placeholder="Cantidad...">
            <a class="button danger waves-effect waves-light" (click)="addToCart(book, country.price, qtyInput)">Añadir al carrito</a>
            </div>
        </div>
        </ng-template>
    </ng-template>
    </div>
</div>

<div class="absolute-img image-container">
    <!--Show if book images exists-->
    <img *ngIf="book.image !== undefined" class="materialboxed" src="{{book.image}}" alt="">
            
    <img *ngIf="book.image === undefined || book.image == ''" class="materialboxed" src="assets/img/common/no-image.jpg" alt="">

    <!--Add to cart and price-->
    <ng-template ngFor let-country [ngForOf]="book.countries">
    <ng-template [ngIf]="country.price > 0 && country.state == 'STOCK' && country.name == currentCountry && !dummy">
        <div class="scroll-info">
        <p class="price" *ngIf="book.price !== 0">{{country.price | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}</p>
        <div class="add-to-cart">
            <input type="number" [(ngModel)]="qtyInput" placeholder="Cantidad...">
            <a class="button danger waves-effect waves-light" (click)="addToCart(book, country.price, qtyInput)">Añadir al carrito</a>
        </div>
        </div>
    </ng-template>
    </ng-template>

    <!--Test interface-->
    <div *ngIf="dummy">
    <ng-template ngFor let-country [ngForOf]="book.countries">
        <ng-template [ngIf]="country.price > 0 && country.state == 'STOCK' && country.name == 'COLOMBIA'">
        <div class="scroll-info">
            <p class="price" *ngIf="book.price !== 0">{{country.price | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}</p>
            <div class="add-to-cart">
            <input type="number" [(ngModel)]="qtyInput" placeholder="Cantidad...">
            <a class="button danger waves-effect waves-light" (click)="addToCart(book, country.price, qtyInput)">Añadir al carrito</a>
            </div>
        </div>
        </ng-template>
    </ng-template>
    </div>
</div>