<ngx-carousel [inputs]="authorsCarousel" (carouselLoad)="myfunc($event)">
    <ngx-item NgxCarouselItem *ngFor="let author of authors;">
      <div class="content">
        <div class="image">
          <img src="assets/img/authors/{{author.image}}" />
        </div>
        <div class="info">
          <h3 class="name">{{author.name}}</h3>
          <p class="description" [innerHTML]="author.description.substring(0,100) + '...'"></p>
          <p><a routerLink="/autor/{{author.slug}}" class="button primary">Ver libros</a></p>
        </div>
      </div>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'></button>
    <button NgxCarouselNext class='rightRs'></button>
</ngx-carousel>