<ngx-carousel *ngIf="authors.length > 0" [inputs]="authorsCarousel" (carouselLoad)="myfunc($event)">
    <ngx-item NgxCarouselItem *ngFor="let author of authors;">
      <div class="content">
        <div class="image">
          <a routerLink="/autor/{{author.slug}}">
            <img src="assets/img/authors/{{author.image}}" />
          </a>
        </div>
        <div class="info">
          <h3 class="name">
            <a routerLink="/autor/{{author.slug}}">{{author.name}}</a>
          </h3>
          <p class="description">
            <span [innerHTML]="author.description | slice:0:100"></span><span>...</span>
          </p>
          <p><a routerLink="/autor/{{author.slug}}" class="button primary">Ver libros</a></p>
        </div>
      </div>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'></button>
    <button NgxCarouselNext class='rightRs'></button>
</ngx-carousel>