<ngu-carousel *ngIf="authors.length > 0" [inputs]="authorsCarousel" [dataSource]="authors" (carouselLoad)="myfunc($event)">
    <ngu-item *nguCarouselDef="let author ;">
      <div class="content">
        <div class="image">
          <a routerLink="/autor/{{author.slug}}">
            <img src="{{author.image}}" />
          </a>
        </div>
        <div class="info">
          <h3 class="name">
            <a routerLink="/autor/{{author.slug}}">{{author.name}}</a>
          </h3>
          <p class="description">
            <span [innerHTML]="author.description | slice:0:100"></span><span>...</span>
          </p>
          <p><a routerLink="/autor/{{author.slug}}" class="button primary">Ver libros</a></p>
        </div>
      </div>
    </ngu-item>
    <button NguCarouselPrev class='leftRs'></button>
    <button NguCarouselNext class='rightRs'></button>
</ngu-carousel>