@import "vars.scss";
@import "mixins.scss";

.vmenu {
    margin: 0px;
}
    .vmenu li a {
        background-color: $primary-color;
        align-items: center;
        color: $white-color;
        cursor: pointer;
        display: flex;
        flex-flow: row wrap;
        font-family: $primary-font;
        font-size: 15px;
        font-weight: normal;
        justify-content: flex-start;
        height: 50px;
        line-height: 50px;
        padding: 0px 20px;
        text-decoration: none;
        @include transition('all 0.4s ease');
    }
        .vmenu li a:hover,
        .vmenu li a:focus,
        .vmenu li a:active,
        .vmenu li.active a {
            background-color: $blue-light;
        }

        .vmenu li a span {
            font-size: 18px;
            margin-right: 10px;
        }