<div *ngIf="showFormInfo" class="contact-page">

  <div class="banner-container">
    <custom-banner [message]="'Amolca editorial médica y odontológica'"></custom-banner>
  </div>

  <div class="header-title">
    <h2>Contacto</h2>
  </div>

  <div class="page-container">
    <form class="contact-form" (ngSubmit)="sendContact(contactForm)" [formGroup]="contacform" #contactForm="ngForm">
      <div class="row">

        <div class="form-group col s12 m4">
          <label for="name"><span class="required">*</span> Nombre completo:</label>
          <input type="text" id="name" name="name" formControlName="name" #name placeholder="Nombre completo...">
        </div>

        <div class="form-group col s12 m4">
          <label for="phone"><span class="required">*</span> Número de teléfono / Celular:</label>
          <input type="text" id="phone" name="phone" formControlName="phone" #phone placeholder="Número de teléfono / Celular...">
        </div>

        <div class="form-group col s12 m4">
          <label for="email"><span class="required">*</span> Correo eléctronico:</label>
          <input type="text" id="email" name="email" formControlName="email" #email placeholder="Correo eléctronico...">
        </div>

        <div class="form-group col s12 m4">
          <label for="city"><span class="required">*</span> Ciudad:</label>
          <input type="text" id="city" name="city" formControlName="city" #city placeholder="Ciudad...">
        </div>

        <div class="form-group col s12 m4">
          <label for="address">Dirección de residencia:</label>
          <input type="text" id="address" name="address" formControlName="address" #address placeholder="Dirección de residencia...">
        </div>

        <div class="form-group col s12 m4">
          <label for="subject"><span class="required">*</span> Asunto del mensaje:</label>
          <input type="text" id="subject" name="subject" formControlName="subject" #subject placeholder="Asunto del mensaje...">
        </div>

        <div class="form-group col s12 m12">
          <label for="message"><span class="required">*</span> Mensaje:</label>
          <textarea type="text" id="message" name="message" formControlName="message" #message placeholder="Escribe aquí tu mensaje..."></textarea>
        </div>

        <!--Terms and conditions column-->
        <div class="col s12 m12 l12 terms-condition">
            <mat-checkbox class="example-margin" formControlName="termsCondition">He leído y acepto los <a routerLink="/terminos-y-condiciones" target="_blank">Términos y condiciones y Políticas de privacidad</a></mat-checkbox>
        </div>

        <div *ngIf="response.show" class="form-group col s12 response {{response.class}}">
          <p [innerHTML]="response.msg"></p>
        </div>

        <div class="form-group col s12 text-center btns-column">
          <app-loader *ngIf="loader.show" [mode]="loader.mode"></app-loader>
          <input type="reset" class="button" value="Limpiar">
          <input [disabled]="!contactForm.valid || !btn.enabled" class="button primary" type="submit" value="{{btn.text}}">
        </div>

      </div>
    </form>
  </div>

</div>