<div class="row">
    <!--Images Book column-->
    <div class="col s12 l5 image-book">
        <div class="mockup image"></div>
    </div>

    <!--Summary Book column-->
    <div class="col s12 l7 summary-book">
        <!--Book name-->
        <div class="mockup name"></div>

        <!--Book author-->
        <div class="mockup author"></div>
        <div class="mockup author"></div>

        <!--Book price-->
        <div class="mockup price"></div>

        <!--Free Shipping text-->
        <div class="mockup shipping"></div>

        <!--Accordion mockup-->
        <div class="mockup accordion"></div>
        <div class="mockup accordion"></div>
        <div class="mockup accordion"></div>
        <div class="mockup accordion"></div>
    
    </div>
</div>