<banner></banner>

<div class="searcher-block">
    <big-searcher></big-searcher>
</div>
    
<div class="home-block medician-block">
    <h2 class="title"><span class="color-blue-light">Novedades</span> Médicas</h2>
    <div class="page-container">
    <books-carousel [specialty]="specialties.medicina" [orderBy]="'publicationYear'" [order]="1" [carousel]="true" [maxShowItems]="12" [itemsPerRow]="4"></books-carousel>
    </div>
</div>

<div class="home-block odontologic-block">
    <h2 class="title"><span class="color-blue-light">Novedades</span> odontológicas</h2>
    <div class="page-container">
    <books-carousel [specialty]="specialties.odontologia" [orderBy]="'publicationYear'" [order]="1" [carousel]="true" [maxShowItems]="12" [itemsPerRow]="4"></books-carousel>
    </div>
</div>

<div class="home-block authors-block">
    <div class="page-container">
        <h2 class="title">Autores <span class="color-blue-light">destacados</span></h2>
        <authors-carousel [itemsPerRow]="4" [maxItems]="'3'"></authors-carousel>
    </div>
</div>

<div class="home-block blog-block">
    <h2 class="title"><span class="color-blue-light">Últimas publicaciones</span> de nuestro blog</h2>
    <div class="page-container">
        <post-carousel></post-carousel>
        <p class="text-center"><a class="button primary">Ver todas las publicaciones</a></p>
    </div>
</div>