<div class="banner">
    <div style="background-color: blue;"></div>
</div>
    
<div class="home-block medician-block">
    <h2 class="title"><span class="color-blue-light">Novedades</span> Médicas</h2>
    <div class="page-container">
        <books-loop [carousel]="true" [itemsPerRow]="4"></books-loop>
    </div>
</div>

<div class="home-block odontologic-block">
    <h2 class="title">Novedades odontológicas</h2>
    <div class="page-container">
        <books-loop [carousel]="true" [itemsPerRow]="4" [specialty]="specialties.medicina"></books-loop>
    </div>
</div>

<div class="home-block authors-block">
    <div class="page-container">
        <h2 class="title">Autores <span class="color-blue-light">destacados</span></h2>
        <authors-carousel [itemsPerRow]="4"></authors-carousel>
    </div>
</div>

<div class="home-block blog-block">
    <h2 class="title"><span class="color-blue-light">Últimas publicaciones</span> de nuestro blog</h2>
    <div class="page-container">
        <p class="text-center"><a class="button primary">Ver todas las publicaciones</a></p>
    </div>
</div>