@import 'vars.scss';
@import 'mixins.scss';

//Styles in carousel
ngx-carousel {
    position: relative;
}
    ngx-item .content {
        background-color: $white-color;
        font-family: $primary-font;
        margin: 0px auto;
        text-align: center;
        @include transition('all 0.4s ease');
        width: 90%;
    }
        .image {
            border-radius: 50%;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            height: 150px;
            margin: 0px auto 20px;
            overflow: hidden;
            width: 150px;
        }
            .image a {
                display: block;
                height: 150px;
                width: 150px;
            }
                .image img {
                    max-height: 150px;
                    max-width: 150px;
                }
        .name, .name a {
            color: $primary-color;
            font-size: 20px;
            font-weight: bold;
            line-height: normal;
            margin-bottom: 10px;
            margin-top: 0px;
        }
        .description {
            color: $gray-dark;
            margin: 20px auto;
        }