.page-not-found {
    /*background-image: url('../../../assets/img/common/bottom-waves.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 70px 10%;
    position: relative;
    text-align: center;
    z-index: 1;
}
    .page-not-found .title {
        line-height: 100%;
        margin-bottom: 40px;
    }
    .page-not-found .btn-contain {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .page-not-found .button {
        font-size: 20px;
    }