<div class="page-container">
    <h2>Carrito de compras</h2>

    <table class="striped centered highlight responsive-table">
      <thead>
        <tr>
          <th></th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr>
          <td>Imagen 1</td>
          <td>Libro de prueba 1</td>
          <td>$250.000 COP</td>
          <td>1</td>
          <td>$250.000</td>
          <td>icono</td>
        </tr>
        <tr>
          <td>Imagen 2</td>
          <td>Libro de prueba 2</td>
          <td>$250.000 COP</td>
          <td>
            <input type="number" value="2">
          </td>
          <td>$500.000</td>
          <td>icono</td>
        </tr>
      </tbody>
    </table>
</div>