<div *ngIf="cart !== '' && cart.products.length > 0" class="page-container cart-page">

  <table class="striped centered highlight responsive-table">
    <thead>
      <tr>
        <th id="image"></th>
        <th id="product">Producto</th>
        <th id="price">Precio</th>
        <th id="qty">Cantidad</th>
        <th id="total">Total</th>
        <th id="actions"></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let book of cart.products; let i = index;">
        <!--Book image-->
        <td class="image">
          <!--If image is defined and have minimun one object-->
          <ng-template *ngIf="book.image !== undefined && book.image.length > 0">
            <ng-template *ngFor="let image of book.image;">
              <img *ngIf="image.principal" matTooltip="{{book.name}}" [matTooltipPosition]="tooltipPosition" class="materialboxed" src="assets\img\products\{{book.image}}">
            </ng-template>
          </ng-template>

          <!--If image is undefined or not have objects-->
          <img *ngIf="book.image == undefined || book.image.length == 0" matTooltip="{{book.name}}" [matTooltipPosition]="tooltipPosition" class="materialboxed" src="assets/img/common/no-image.jpg" alt="">
        </td>
        <!--Book name-->
        <td class="name">
          {{book.name}}
        </td>
        <!--Book price-->
        <td class="price">
          {{book.price | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}
        </td>
        <!--Book quantity-->
        <td class="qty">
          <input type="number" matTooltip="Cantidad" [matTooltipPosition]="tooltipPosition" #qty [value]="book.quantity" (change)="changeTotalBook(book, qty.value, i)" (keyup)="changeTotalBook(book, qty.value, i)">
        </td>
        <!--Book total-->
        <td class="total">
          {{book.price * book.quantity | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}
        </td>
        <td class="actions">
          <button class="delete" matTooltip="Eliminar" [matTooltipPosition]="tooltipPosition" (click)="deleteProduct(i)"><i class="material-icons">delete_outline</i></button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="coupon-contain">
    <input type="text" #coupon id="coupon" maxlength="10" placeholder="Escribe aquí el código de tu cupón" (keyup)="couponError.state = false">
    <button class="button primary" (click)="applyCoupon(coupon.value)">Aplicar cupón</button>
    <p class="error" *ngIf="couponError.state">{{couponError.text}}</p>
  </div>

  <div class="info-cart">

    <div class="related-products">
      <p class="title">Libros relacionados</p>
    </div>
    
    <div class="cart-totals">
      <cart-totals [subtotal]="cart.total" [shipping]="shipping" [total]="cart.total"></cart-totals>
    </div>

  </div>

</div>

<not-found *ngIf="cart.products.length < 1" [pageType]="'cart'"></not-found>