<div *ngIf="cart !== '' && cart.products.length > 0" class="page-container cart-page">

  <table class="striped centered highlight responsive-table">
    <thead>
      <tr>
        <th id="image"></th>
        <th id="product">Producto</th>
        <th id="price">Precio</th>
        <th id="qty">Cantidad</th>
        <th id="total">Total</th>
        <th id="actions"></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let product of cart.products; let i = index;">

        <td class="image">
          <img matTooltip="{{product.name}}" [matTooltipPosition]="tooltipPosition" *ngIf="product.image !== ''" class="materialboxed" src="assets\img\products\{{product.image}}" />
          <p *ngIf="product.image == ''">{{product.image}}</p>
        </td>
        <td class="name">
          {{product.name}}
        </td>
        <td class="price">
          {{product.price | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}
        </td>
        <td class="qty">
          <input type="number" matTooltip="Cantidad" [matTooltipPosition]="tooltipPosition" #qty [value]="product.quantity" (change)="changeTotalProduct(product, qty.value, i)" (keyup)="changeTotalProduct(product, qty.value, i)">
        </td>
        <td class="total">
          {{product.price * product.quantity | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}
        </td>
        <td class="actions">
          <button class="delete" matTooltip="Eliminar" [matTooltipPosition]="tooltipPosition" (click)="deleteProduct(i)"><i class="material-icons">delete_outline</i></button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div class="coupon-contain">
    <input type="text" #coupon id="coupon" maxlength="10" placeholder="Escribe aquí el código de tu cupón" (keyup)="couponError.state = false">
    <button class="button primary" (click)="applyCoupon(coupon.value)">Aplicar cupón</button>
    <p class="error" *ngIf="couponError.state">{{couponError.text}}</p>
  </div>

  <div class="info-cart">

    <div class="related-products">
      <p class="title">Libros relacionados</p>
    </div>
    
    <div class="cart-totals">
      <cart-totals [subtotal]="subtotalCart" [shipping]="shipping" [total]="totalCart"></cart-totals>
    </div>

  </div>

</div>

<not-found *ngIf="cart.products.length < 1" [pageType]="'cart'"></not-found>