@import 'vars.scss';
@import 'mixins.scss';

.books-loop {
    display: flex;
    flex-flow: row wrap;
    font-family: $primary-font;
    justify-content: left;
    width: 100%;
}

.books-loop .item {
    background-color: $white-color;
    margin: 15px;
    @include transition('all 0.4s ease');
    visibility: visible !important;
    text-align: center;
    width: 100%;
}
    .books-loop.carousel-loop .item {
        max-width: none;
    }
        .books-loop .item:hover,
        .books-loop .item:active {
            background-color: $gray-sup-light;
        }

    //Width for item's
    .books-loop.items-per-page-1 .item {
        @include calc(max-width, '100% - 30px');
    }
    .books-loop.items-per-page-2 .item {
        @include calc(max-width, '50% - 30px');
    }
    .books-loop.items-per-page-3 .item {
        @include calc(max-width, '33.33% - 30px');
    }
    .books-loop.items-per-page-4 .item {
        @include calc(max-width, '25% - 30px');
    }
    .books-loop.items-per-page-5 .item {
        @include calc(max-width, '20% - 30px');
    }

.item .info {
    padding: 30px 20px;
    text-align: left;
}

.item .contain-img {
    border-bottom: 1px solid $gray-light;
    display: block;
}
    .item .contain-img img {
        display: block;
        max-width: 100%;
        width: 100%;
    }

.item p {
    margin: 0px;
}

.item .name {
    font-size: 24px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 10px;
    margin-top: 0px;
}
    .item .name a {
        color: $primary-color;
        text-decoration: none;
    }

.item .authors a {
    color: $gray-dark;
    font-size: 14px;
    font-weight: bold;
}

.item .actions {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 24px;
    justify-content: space-between;
    margin-top: 10px;
}
    .item .actions .price {
        color: $primary-color;
        font-weight: bold;
    }

    .item .actions a {
        cursor: pointer;
        text-decoration: none;
    }

    .item .actions .cart-btn {
        color: $primary-color;
    }
    .item .actions .hearth-btn {
        color: $primary-red;
        margin-left: 5px;
    }

//Styles in carousel
ngx-carousel {
    position: relative;
}
    ngx-item .content {
        background-color: $white-color;
        font-family: $primary-font;
        margin: 0px auto;
        text-align: center;
        @include transition('all 0.4s ease');
        @include calc(width, '100% - 30px');
    }
        ngx-item .content:hover,
        ngx-item .content:active {
            background-color: $gray-sup-light;
        }

        .leftRs, .rightRs {
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border: none;
            cursor: pointer;
            height: 70px;
            opacity: 0.2;
            position: absolute;
            @include calc(top, '50% - 100px');
            @include transition('all 0.4s ease');
            width: 54px;
        }
            .leftRs {
                background-image: url('/assets/img/common/left-carousel-btn.png');
                left: -30px;
            }
            .rightRs {
                background-image: url('/assets/img/common/right-carousel-btn.png');
                right: -30px;
            }
            .leftRs:hover, .rightRs:hover {
                opacity: 1;
            }