@import 'vars.scss';
@import 'mixins.scss';

.books-loop {
    display: flex;
    flex-flow: row wrap;
    font-family: $primary-font;
    justify-content: left;
    width: 100%;
}

.books-loop {
    
    &.carousel-loop .item {
        max-width: none;
    }

    //Width for item's
    &.items-per-page-1 .item {
        @include calc(max-width, '100% - 30px');
    }
    &.items-per-page-2 .item {
        @include calc(max-width, '50% - 30px');
    }
    &.items-per-page-3 .item {
        @include calc(max-width, '33.33% - 30px');
    }
    &.items-per-page-4 .item {
        @include calc(max-width, '25% - 30px');
    }
    &.items-per-page-5 .item {
        @include calc(max-width, '20% - 30px');
    }
}

.item {
    background-color: $gray-sup-light;
    margin: 15px;
    @include transition('all 0.4s ease');
    visibility: visible !important;
    text-align: center;
    width: 100%;

    &:hover,
    &:active {
        background-color: $gray-sup-light;
    }

    p {
        margin: 0px;
    }

    .info {
        padding: 15px 30px 20px;
        text-align: left;
    }
    
    .contain-img {
        background-color: $white-color;
        border-bottom: 1px solid $gray-light;
        display: block;
        padding-bottom: 100%;
        position: relative;

        img {
            display: block;
            left: 50%;
            max-height: 85%;
            max-width: 75%;
            position: absolute;
            top: 50%;
            @include transform(translate, '-50%, -50%');
        }
    }

    .versions {
        margin-top: -20px;
        padding: 0px 30px;
        position: relative;
        text-align: left;

        a {
            background-color: $white-color;
            border-radius: 50%;
            border: 1px solid $gray-light;
            display: inline-block;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            width: 40px;
        }
    }
    
    .name {
        font-size: 14px;
        font-weight: bold;
        line-height: normal;
        margin-bottom: 10px;
        margin-top: 0px;
    
        a {
            color: $primary-color;
            text-decoration: none;
            width: 100%;
        }
    }

    .authors {
        & > span {
            margin-right: 3px;
        }

        a {
            color: $gray-dark;
            font-size: 14px;
            font-weight: bold;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .actions {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        font-size: 24px;
        justify-content: space-between;
        margin-top: 10px;

        .price {
            color: $primary-color;
            font-weight: bold;
        }
    
        a {
            cursor: pointer;
            display: inline-block;
            height: 36px;
            line-height: 43px;
            text-align: center;
            text-decoration: none;
            width: 35px;
        }
    
        .cart-btn {
            color: $primary-color;
        }
        .hearth-btn {
            color: $primary-red;
            margin-left: 5px;
        }
    }

}

.reservations {
    margin-top: 10px;

    .disponibility {
        font-size: 13px;
        margin-bottom: 7px;
    }
}

.books-pagination /deep/ ul.ngx-pagination {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    li {
        border-radius: 2px;
        border: 1px solid $gray-light;
        padding: 0px;
        vertical-align: middle;

        &.current {
            background-color: $primary-color;
            border-color: $primary-color;
            padding: 0.1875rem 0.625rem;
        }
        &.pagination-previous.disabled {
            height: 30px;
            line-height: 30px;
            padding-right: 0.1875rem 0.625rem;
        }
        &.pagination-next.disabled {
            height: 29px;
            line-height: 22px;
            padding: 0.1875rem 0.625rem;
        }
    }
}

//Styles in carousel
ngu-carousel {
    position: relative;
}
    ngu-item  {
        
        &.item {
            background-color: transparent;
            margin: 0px;
            padding: 0px 15px;

            &:hover,
            &:active {
                background-color: transparent;
            }
        }

        .content {
            background-color: $gray-sup-light;
            font-family: $primary-font;
            margin: 0px auto;
            text-align: center;
            @include transition('all 0.4s ease');
            //@include calc(width, '100% - 30px');

            &:hover,
            &:active {
                background-color: $gray-sup-light;
            }
        }
    }

@media screen and (max-width: 992px) {
    .books-loop .item,
    .books-loop.items-per-page-1 .item,
    .books-loop.items-per-page-2 .item,
    .books-loop.items-per-page-3 .item,
    .books-loop.items-per-page-4 .item,
    .books-loop.items-per-page-5 .item {
        @include calc(max-width, '50% - 30px');
    }
}

@media screen and (max-width: 576px) {
    .books-loop .item,
    .books-loop.items-per-page-1 .item,
    .books-loop.items-per-page-2 .item,
    .books-loop.items-per-page-3 .item,
    .books-loop.items-per-page-4 .item,
    .books-loop.items-per-page-5 .item {
        @include calc(max-width, '100% - 30px');
    }

    ngu-item .content {
        width: 100%;
    }
}