@import "vars.scss";
@import "mixins.scss";

input[type="text"], input[type="password"], input[type="email"] {
    text-align: center;
    width: 100%;
}

label {
    display: block;
    font-size: 14px;
}

.button {
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}