<div>
  <!--Loop container-->
  <div class="books-loop items-per-page-4">

    <!--Item-->
    <div *ngFor="let i of [0,1,2,3]" class="item item-mockup">
  
      <!--Book principal image-->
      <a class="contain-img mockup">
      </a>

      <!--Book versions-->
      <div class="versions v-mockup">
          <a class="version-btn mockup"></a>
          <a class="version-btn mockup"></a>
          <a class="version-btn mockup"></a>
      </div>
  
      <div class="info">
        <!--Name-->
        <h3 class="name mockup"></h3>
  
        <!--Authors-->
        <p class="authors mockup"></p>
        
        <!--book actions-->
        <div class="actions">

          <p class="price mockup"></p>

          <p class="btns b-mockup">
            <a class="cart-btn mockup"></a>
            <a class="hearth-btn mockup"></a>
          </p>

        </div>
  
      </div>
    </div>

  </div>

</div>