<div *ngIf="!showBooks && !error.show" class="loader-loops">
  Cargando libros...
  <app-loader *ngIf="loader.show" [mode]="loader.mode"></app-loader>
</div>

<ngx-carousel *ngIf="!error.show && showBooks && books.length > 0" [inputs]="carouselOne" (carouselLoad)="myfunc($event)">
    <ngx-item NgxCarouselItem *ngFor="let b of books;">
      <div class="content">
        <!--Book principal image-->
        <a routerLink="/libro/{{b.slug}}" class="contain-img">
          <!--Show if b images exists-->
          <img *ngIf="b.image !== undefined" src="assets/img/products/{{b.image}}" alt="">
          
          <img *ngIf="b.image === undefined || b.image == ''" src="assets/img/common/no-image.jpg" alt="">
        </a>
  
        <div class="info">
          <!--b Name-->
          <h3 class="name">
            <!--If name is more than 40 words-->
            <a *ngIf="b.title.length >= 40" matTooltip="{{b.title}}" [matTooltipPosition]="tooltipPosition" routerLink="/libro/{{b.slug}}">{{b.title | slice:0:40}}...</a>

            <!--If name is minor than 40 words-->
            <a *ngIf="b.title.length < 40" matTooltip="{{b.title}}" [matTooltipPosition]="tooltipPosition" routerLink="/libro/{{b.slug}}">{{b.title}}</a>
          </h3>
  
          <!--REPLACE WHEN CHANGE bS MODEL-->
          <p class="authors">
            <a *ngFor="let author of b.author;" routerLink="/autor/{{author.slug}}">{{author.name}}</a>
          </p>
  
          <ng-template ngFor let-country [ngForOf]="b.countries">
            <!--b actions-->
            <div *ngIf="country.name === currentCountry && country.price > 0" class="actions">
  
              <!--b Price-->
              <p class="price">{{ country.price | currency:'COP':'symbol-narrow':'4.0-0' | replaceCurrencySeparator:',':'.' }}</p>
    
              <!--b buttons-->
              <p class="btns">
                <a class="cart-btn" matTooltip="Añadir al carrito" [matTooltipPosition]="tooltipPosition" (click)="addToCart(b, country.price)">
                  <i class="material-icons">add_shopping_cart</i>
                </a>
                <a class="hearth-btn" matTooltip="Añadir a mi lista de deseos" [matTooltipPosition]="tooltipPosition" (click)="addToWishlist(b)">
                  <i class="material-icons">favorite_border</i>
                </a>
              </p>
            </div>
          </ng-template>
  
        </div>
      </div>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'></button>
    <button NgxCarouselNext class='rightRs'></button>
</ngx-carousel>
  
<div *ngIf="error.show" class="loader-loops">
  <p>No hay libros con estas especificaciones</p>
</div>