/*
    Color azul oscuro:              #00396F
    Color azul con opacidad 60%:    #A1B3C7
    Color azul claro:               #55B9D4
    Color rojo:                     #E2231A
    Color gris:                     #878786
    Color gris claro:               #A5A5A5
    Color gris oscuro (texto):      #666666

    Fuente principal:               'Tahoma'
    Fuente titulos:                 'Coolvetica Rg'
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    overflow-x: hidden;
}

.top-bar {
    align-items: center;
    background-color: #55B9D4;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Tahoma';
    justify-content: space-between;
    left: 0px;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    top: 0px;
    width: 100%;
}

#top-bar-btns {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
}
    #top-bar-btns li a i {
        font-size: 18px;
        margin-top: -3px;
        vertical-align: middle;
    }
    #top-bar-btns li a {
        color: #fff;
        display: block;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;
    }

    #top-bar-btns #login-btn {
        background-color: #00396F;
    }

.header {
    background-color: #00396F;
    background-image: url('../img/common/header-bg.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-family: 'Tahoma';
    height: 100px;
    justify-content: space-between;
    left: 0px;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    top: 40px;
    width: 100%;
    z-index: 10000;
}

.header .site-logo img {
    max-height: 90px;
}

/*Mobile btn navigation menu*/
.mobile-btn {
    background-color: transparent;
    cursor: pointer;
    height: 25px;
    position: relative;
    width: 40px;
}
    .mobile-btn:before,
    .mobile-btn span,
    .mobile-btn:after {
        background-color: #fff;
        border-radius: 3px;
        content: '';
        height: 5px;
        opacity: 1;
        position: absolute;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        transition: all 0.4s ease;
        width: 100%;
    }
        .mobile-btn:before {
            top: 0px;
        }
        .mobile-btn span {
            top: -webkit-calc(50% - 2.5px);
            top: -moz-calc(50% - 2.5px);
            top: -ms-calc(50% - 2.5px);
            top: calc(50% - 2.5px);
        }
        .mobile-btn:after {
            bottom: 0px;
        }

        /*Active button*/
        .mobile-btn.active:before {
            top: 10px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .mobile-btn.active span {
            opacity: 0;
        }
        .mobile-btn.active:after {
            bottom: 10px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

/*Navigation menu*/
#nav-menu ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
}
    #nav-menu ul li {
        position: relative;
    }
        #nav-menu ul li:before {
            content: '';
            background-color: transparent;
            height: 100%;
            left: 0px;
            position: absolute;
            top: 0px;
            -webkit-transform: skewX(-28deg);
            -moz-transform: skewX(-28deg);
            -ms-transform: skewX(-28deg);
            transform: skewX(-28deg);
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
            width: 100%;
            z-index: -1;
        }
            #nav-menu ul li:hover:before {
                background-color: #55b9d4;
            }
    #nav-menu ul li a {
        display: block;
        color: #fff;
        font-size: 20px;
        height: 100px;
        line-height: 100px;
        padding-left: 35px;
        padding-right: 35px;
        text-decoration: none;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

/*Main styles*/
.main {
    margin-top: 140px;
}

/*Custom row and columns*/
.custom-row {
    display: flex;
    flex-flow: row wrap;
}

/*Footer styles*/
.footer {
    background-color: #eaeaea;
    color: #a5a5a5;
    font-family: 'Tahoma';
    line-height: normal;
    padding-bottom: 60px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 60px;
}

    /*Footer row's*/
    .footer .custom-row .custom-col {
        padding-left: 10px;
        padding-right: 10px;
        width: 22%;
    }
        .footer .custom-row .custom-col:first-child {
            padding-left: 0px;
        }
        .footer .custom-row .custom-col:last-child {
            padding-right: 0px;
        }
    .custom-row .custom-col#block-contact {
        width: 34%;
    }

    .footer .title {
        color: #666666;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .footer p {
        font-size: 16px;
        margin-bottom: 7px;
        margin-top: 7px;
    }
    
    .footer a {
        color: #a5a5a5;
        text-decoration: none;
    }
        .footer a:hover,
        .footer a:active {
            text-decoration: underline;
        }

    /*Contact block*/
    .footer #block-contact {
        font-size: 25px;
        font-weight: bold;
    }
        .footer #block-contact #direction {
            display: block;
            margin-bottom: 30px;
        }
        .footer #block-contact #phone,
        .footer #block-contact #mobile {
            color: #666666;
            font-size: 25px;
        }

    /*Social block*/
    .footer #block-social a {
        font-weight: bold;
        text-decoration: none;
    }
        .footer #block-social a:hover,
        .footer #block-social a:active {
            color: #00396F;
        }

/*Bottom bar*/
#bottom-bar {
    background-color: #00396F;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Tahoma';
    font-size: 14px;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
}
    #bottom-bar .item {
        padding: 17px 25px;
    }
        #bottom-bar .item:first-child {
            padding-left: 0px;
        }
        #bottom-bar .item:last-child {
            padding-right: 0px;
        }

        #bottom-bar .item#designed {
            position: absolute;
            right: 5%;
        }
        #bottom-bar .item#copy,
        #bottom-bar .item#designed,
        #bottom-bar .item#designed a {
            color: #A1B3C7;
        }
            #bottom-bar .item#designed a:hover {
                color: #fff;
            }
    
    #bottom-bar a {
        color: #fff;
        text-decoration: none;
    }
        #bottom-bar a:hover {
            color: #fff;
            text-decoration: underline;
        }