@import "vars.scss";
@import "mixins.scss";

.header-page {
    background-color: $gray-sup-light;
    font-size: 25px;
    padding: 30px 5% 0px;
    position: relative;
    text-align: center;
}

.search-page {
    padding: 40px 0px;
}