@import "vars.scss";
@import "mixins.scss";

.content {
    //background-color: $white-color;
    //box-shadow: 2px 5px 20px rgba(0,0,0,0.1);
    font-family: $primary-font;
    margin-left: auto;
    margin-right: auto;
    padding: 29px 30px;
    position: relative;
    width: 60%;
    z-index: 10;
}

/*
.content:before, .content:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 0px;
    z-index: 0;
}
    .content:before {
        border-top: 59px solid transparent;
        border-right: 50px solid $white-color;
        border-bottom: 59px solid transparent;
        right: 100%;
    }

    .content:after {
        border-top: 59px solid transparent;
        border-left: 50px solid $white-color;
        border-bottom: 59px solid transparent;
        left: 100%;
    }
*/

/*#leftArrows, #rightArrows {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    display: block;
    height: 108px;
    opacity: 1;
    position: absolute;
    @include calc(top, '50% - 54px');
    @include transition('all 0.4s ease');
    width: 95px;
}
    #leftArrows {
        background-image: url('/assets/img/common/left-carousel-btn.png');
        left: -75px;
    }
    #rightArrows {
        background-image: url('/assets/img/common/right-carousel-btn.png');
        right: -75px;
    }
*/

.form {
    position: relative;
}
    .form input[type="text"] {
        border-color: $primary-color;
        border-radius: 30px;
        color: $gray-dark;
        font-size: 16px;
        height: 50px;
        margin: 0px;
        padding: 0px 140px 0px 30px;
    }
        .form input[type="text"]:focus,
        .form input[type="text"]:active {
            box-shadow: none;
        }
    .form input[type="button"] {
        background-color: $primary-color;
        border-radius: 30px;
        border: none;
        display: inline-block;
        color: $white-color;
        cursor: pointer;
        font-size: 16px;
        padding: 16px 40px;
        position: absolute;
        right: 0px;
        top: 0px;
        @include transition('all 0.4s ease');
        text-decoration: none;
    }

@media screen and (max-width: 768px) {
    .content {
        background-color: $blue-light;
        box-shadow: none;
        padding: 40px 20px;
        width: 100%;
    }
        .content:before, .content:after {
            display: none;
        }
    #leftArrows, #rightArrows {
        display: none;
    }

    .form input[type="text"] {
        background-color: $white-color;
        border-color: $blue-light;
        font-size: 15px;
        height: 50px;
        padding: 0px 90px 0px 30px;
    }
    .form input[type="button"] {
        font-size: 15px;
        padding: 16px 20px;
    }
}