<div class="single-author page-container">
    <div class="row">
        <!--Image column-->
        <div class="col s12 m3 l3">
            <div class="mockup image"></div>
        </div>
        <!--Information column-->
        <div class="col s12 m9 l9">
            <div class="mockup name"></div>
            <div class="mockup description"></div>
            <div class="mockup description"></div>
            <div class="mockup description"></div>
        </div>
    </div>

    <!--Separator mockup-->
    <div class="common-separator"></div>

    <!--Libros title mockup-->
    <div class="mockup books"></div>
</div>