<div *ngIf="showLoader" class="loader-loops">
  Cargando libros...
  <app-loader *ngIf="loader.show" [mode]="loader.mode"></app-loader>
</div>

<div *ngIf="showBooks && books.length > 0">

  <app-notification [message]="notification.msg" [class]="notification.class"></app-notification>

  <!--Loop container-->
  <div class="{{loopclass}} items-per-page-{{itemsPerRow}}">

    <!--Item-->
    <div *ngFor="let book of books | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" class="{{itemclass}}">
  
      <!--Book principal image-->
      <a routerLink="/libro/{{book.slug}}" class="contain-img">
        <!--Show if b images exists-->
        <img *ngIf="book.image !== undefined" src="{{book.image}}" alt="">
        
        <img *ngIf="book.image === undefined || book.image == ''" src="assets/img/common/no-image.jpg" alt="">
      </a>

      <!--Book versions-->
      <div *ngIf="book.version !== undefined && book.version.length > 0" class="versions">
        <ng-template ngFor let-v [ngForOf]="book.version">

          <!--If version is PAPER-->
          <a *ngIf="v == 'PAPER'" matTooltip="Papel" [matTooltipPosition]="tooltipPosition" class="version-btn">
            <span class="icon-book"></span>
          </a>

          <!--If version is EBOOK-->
          <a *ngIf="v == 'EBOOK'" matTooltip="Ebook" [matTooltipPosition]="tooltipPosition" class="version-btn">
            <span class="icon-document-text"></span>
          </a>

          <!--If version is VIDEO-->
          <a *ngIf="v == 'VIDEO'" matTooltip="Vídeo" [matTooltipPosition]="tooltipPosition" class="version-btn">
            <span class="icon-media-play"></span>
          </a>

        </ng-template>
      </div>
  
      <div class="info">
        <!--b Name-->
        <h3 class="name">
          <!--If name is more than 100 words-->
          <a *ngIf="book.title.length >= 100" matTooltip="{{book.title}}" [matTooltipPosition]="tooltipPosition" routerLink="/libro/{{book.slug}}">{{book.title | slice:0:100}}...</a>
  
          <!--If name is minor than 100 words-->
          <a *ngIf="book.title.length < 100" matTooltip="{{book.title}}" [matTooltipPosition]="tooltipPosition" routerLink="/libro/{{book.slug}}">{{book.title}}</a>
        </h3>
  
        <!--REPLACE WHEN CHANGE BOOKS MODEL-->
        <p class="authors">
          <span *ngFor="let author of book.author; let i = index;">
            <a *ngIf="i < 5" routerLink="/autor/{{author.slug}}">{{author.name}}
              <span *ngIf="i < 3 && book.author.length > 2">-</span>
              <span *ngIf="i == 4 && book.author.length > 4">...</span>
            </a>
          </span>
        </p>
  
        <ng-template ngFor let-country [ngForOf]="book.countries">
          <!--book actions-->
          <div *ngIf="aCountry !== 'COLOMBIA' && country.name === currentCountry && country.quantity > 0 && country.price !== 0 && country.state == 'STOCK'" class="actions">
  
            <!--book Price-->
            <p class="price">{{ country.price | currency:'COP':'symbol-narrow':'4.0-0' | replaceCurrencySeparator:',':'.' }}</p>
  
            <!--book buttons-->
            <p class="btns">
              <a class="cart-btn" matTooltip="Añadir al carrito" [matTooltipPosition]="tooltipPosition" (click)="addToCart(book, country.price)">
                <i class="material-icons">add_shopping_cart</i>
              </a>
              <a class="hearth-btn" matTooltip="Añadir a mi lista de deseos" [matTooltipPosition]="tooltipPosition" (click)="addToWishlist(book)">
                <i class="material-icons">favorite_border</i>
              </a>
            </p>
          </div>
        </ng-template>

        <!--Test interface-->
        <!--book actions-->
        <!--<div *ngIf="aCountry == 'COLOMBIA'" class="actions">

          <p class="price">$250.000</p>

          <p class="btns">
            <a class="cart-btn" matTooltip="Añadir al carrito" [matTooltipPosition]="tooltipPosition" (click)="addToCart(book, 250000)">
              <i class="material-icons">add_shopping_cart</i>
            </a>
            <a class="hearth-btn" matTooltip="Añadir a mi lista de deseos" [matTooltipPosition]="tooltipPosition" (click)="addToWishlist(book)">
              <i class="material-icons">favorite_border</i>
            </a>
          </p>
        </div>-->
  
      </div>
    </div>

  </div>

  <pagination-controls class="books-pagination"
                        (pageChange)="p = $event; pageChanged($event)"
                        previousLabel="Anterior"
                        nextLabel="Siguiente">
  </pagination-controls>

</div>

<div *ngIf="error.show" class="loader-loops">
  <p>{{error.msg}}</p>
</div>