<div *ngIf="!error.show && books.length > 0" class="{{loopclass}} items-per-page-{{itemsPerRow}}">
  <div *ngFor="let book of books;" class="{{itemclass}}">

    <!--Book principal image-->
    <a routerLink="/libro/{{book.slug}}" class="contain-img">
      <!--Show if b images exists-->
      <img *ngIf="book.image !== undefined" src="assets/img/products/{{book.image}}" alt="">
      
      <img *ngIf="book.image === undefined || book.image == ''" src="assets/img/common/no-image.jpg" alt="">
    </a>

    <div class="info">
      <!--b Name-->
      <h3 class="name">
          <a routerLink="/libro/{{book.slug}}">{{book.title}}</a>
      </h3>

      <!--REPLACE WHEN CHANGE BOOKS MODEL-->
      <p class="authors">
        <a *ngFor="let author of book.author;" routerLink="/autor/{{author.slug}}">{{author.name}}</a>
      </p>

      <ng-template ngFor let-country [ngForOf]="book.countries">
        <!--book actions-->
        <div *ngIf="country.name === currentCountry && country.quantity > 0 && country.price !== 0 && country.state == 'STOCK'" class="actions">
          <!--Notification-->
          <div *ngIf="notification.show" class="cart-notification">
            <p>{{notification.msg}}</p>
          </div>

          <!--book Price-->
          <p class="price">{{ country.price | currency:'COP':'symbol-narrow':'4.0-0' | replaceCurrencySeparator:',':'.' }}</p>

          <!--book buttons-->
          <p class="btns">
            <a class="cart-btn" matTooltip="Añadir al carrito" [matTooltipPosition]="tooltipPosition" (click)="addToCart(book, country.price)">
              <i class="material-icons">add_shopping_cart</i>
            </a>
            <a class="hearth-btn" matTooltip="Añadir a mi lista de deseos" [matTooltipPosition]="tooltipPosition" (click)="addToWishlist(book)">
              <i class="material-icons">favorite_border</i>
            </a>
          </p>
        </div>
      </ng-template>

    </div>
  </div>
</div>

<div *ngIf="error.show || books.length < 1" class="alert">
  <p>No hay libros con estas especificaciones</p>
</div>