<ngu-carousel [inputs]="banner" (carouselLoad)="myfunc($event)" [dataSource]="slider" class="banner-slides">

  <ngu-item *nguCarouselDef="let slide">

    <div class="slide" [style.background-image]="'url(' + pathImg + slide.image + ')'" [style.background-attachment]="slide.bgAttach">
      <div class="content" [innerHTML]="slide.text | safeHtml"></div>
    </div>

  </ngu-item>

  <button NguCarouselPrev class='leftRs'></button>
  <button NguCarouselNext class='rightRs'></button>

</ngu-carousel>