@import 'vars.scss';
@import 'mixins.scss';

ngx-item, ngx-item.item {
    height: 450px;
    width: 100% !important;
}

.leftRs, .rightRs {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    height: 70px;
    opacity: 0.2;
    position: absolute;
    @include calc(top, '50% - 35px');
    @include transition('all 0.4s ease');
    width: 54px;
}
    .leftRs {
        background-image: url('/assets/img/common/left-carousel-btn.png');
        left: 30px;
    }
    .rightRs {
        background-image: url('/assets/img/common/right-carousel-btn.png');
        right: 30px;
    }
    .leftRs:hover, .rightRs:hover {
        opacity: 1;
    }

.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
}
    .content {
        margin-top: -59px;
    }

@media screen and (max-width: 768px) {
    ngx-item, ngx-item.item {
        height: 400px;
    }

    .leftRs, .rightRs {
        height: 40px;
        @include calc(top, '50% - 60px');
        width: 32px;
    }
        .leftRs {
            left: 5px;
        }
        .rightRs {
            right: 5px;
        }
}

@media screen and (max-width: 576px) {
    ngx-item, ngx-item.item {
        height: 350px;
    }
}