@import 'vars.scss';
@import 'mixins.scss';

ngu-item, ngu-item.item {
    width: 100% !important;
    z-index: 1;
}

ngu-item.item-0 {
    img.visible-img {
        top: 100%;
        @include transition('all 1s ease');
    }

    &.show {
        z-index: 3;
        img.visible-img {
            top: 0%;
        }
    }
}
ngu-item.item-1 {
    img.visible-img {
        left: 100%;
        @include transition('all 1s ease');
    }

    &.show {
        z-index: 3;

        img.visible-img {
            left: 0%;
        }
    }
}

ngu-item.item-2 {
    img.visible-img {
        top: -100%;
        @include transition('all 1s ease');
    }

    &.show {
        z-index: 3;

        img.visible-img {
            top: 0px;
        }
    }
}

.leftRs, .rightRs {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    height: 70px;
    opacity: 0.2;
    position: absolute;
    @include calc(top, '50% - 35px');
    @include transition('all 0.4s ease');
    width: 54px;
    z-index: 1000;
}
    .leftRs {
        background-image: url('/assets/img/common/left-carousel-btn.png');
        left: 30px;
    }
    .rightRs {
        background-image: url('/assets/img/common/right-carousel-btn.png');
        right: 30px;
    }
    .leftRs:hover, .rightRs:hover {
        opacity: 1;
    }

.slide {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100%;
    position: relative;

    .bg-item {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0px;
        -webkit-filter: blur(8px);
        filter: blur(8px);
        left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;
    }

    img.visible-img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        z-index: 2;
    }

    img.hidden-img {
        visibility: hidden;
        opacity: 0;
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    ngu-item, ngu-item.item {
        background-image: none;
        height: auto;
    }

    .slide {
        img.only-mobile {
            visibility: visible;
            opacity: 1;
        }
    }

    .leftRs, .rightRs {
        height: 40px;
        @include calc(top, '50% - 20px');
        width: 32px;
    }
        .leftRs {
            left: 5px;
        }
        .rightRs {
            right: 5px;
        }
}