@import "vars.scss";
@import "mixins.scss";

.page-container {
    padding-bottom: 70px;
    padding-top: 70px;
}

.title {
    border-bottom: 1px solid $gray-light;
    color: $primary-color;
    font-family: $primary-font;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-bottom: 20px;
}

.terms-condition {
    margin-bottom: 10px;
}

.button {
    width: 100%;
}