<div *ngIf="cartExists" class="page-container checkout-page">

  <div *ngIf="showFormInfo" class="row">

    <!--Form column-->
    <div class="col s12 m8 l8">
      <p class="title">Detalles de facturación y envío</p>
      <form (ngSubmit)="createOrder(checkoutForm)" [formGroup]="checkoutform" #checkoutForm="ngForm">
        <div class="row">
      
          <!--Name column-->
          <div class="col s12 m6 l6">
            <label for="name"><span class="required">*</span> Nombres:</label>
            <input type="text" name="name" id="name" formControlName="name" #name placeholder="Escribe tu nombre...">
          </div>
      
          <!--Lastname column-->
          <div class="col s12 m6 l6">
            <label for="lastname"><span class="required">*</span> Apellidos:</label>
            <input type="text" name="lastname" id="lastname" formControlName="lastname" #lastname placeholder="Escribe tus apellidos...">
          </div>

          <!--Mobile column-->
          <div class="col s12 m6 l6">
            <label for="mobile"><span class="required">*</span> Teléfono celular:</label>
            <input type="text" name="mobile" id="mobile" formControlName="mobile" #mobile placeholder="Escribe tu número de celular...">
          </div>

          <!--Phone column-->
          <div class="col s12 m6 l6">
            <label for="phone">Teléfono fijo:</label>
            <input type="text" name="phone" id="phone" formControlName="phone" #phone placeholder="Escribe tu número de teléfono fijo...">
          </div>

          <!--Email column-->
          <div class="col s12 m12 l12">
            <label for="email"><span class="required">*</span> Correo electrónico:</label>
            <input type="email" name="email" id="email" formControlName="email" #email placeholder="Escribe tu correo electrónico...">
          </div>
      
          <!--City column-->
          <div class="col s12 m6 l6">
            <label for="city"><span class="required">*</span> Ciudad:</label>
            <input type="text" name="city" id="city" formControlName="city" #city placeholder="Escribe la ciudad de envío...">
          </div>

          <!--Address column-->
          <div class="col s12 m6 l6">
            <label for="address"><span class="required">*</span> Dirección:</label>
            <input type="text" name="address" id="address" formControlName="address" #address placeholder="Escribe tu dirección...">
          </div>

          <!--Aditionals column-->
          <div class="col s12 m6 l6">
            <label for="aditionals">Extra (oficina, interior, etc):</label>
            <input type="text" name="aditionals" id="aditionals" formControlName="aditionals" #aditionals placeholder="Extra (oficina, interior, etc)...">
          </div>

          <!--Postal code column-->
          <div class="col s12 m6 l6">
            <label for="postalCode">Código postal:</label>
            <input type="text" name="postalCode" id="postalCode" formControlName="postalCode" #postalCode placeholder="Escribe tu código postal...">
          </div>

          <!--Notes column-->
          <div class="col s12 m12 l12">
            <label for="aditionals">Notas sobre tu pedido:</label>
            <textarea class="materialize-textarea" name="aditionals" id="aditionals" formControlName="aditionals" #aditionals placeholder="Si tienes notas adicionales sobre tu pedido escríbelas aquí..."></textarea>
          </div>

          <!--Terms and conditions column-->
          <div class="col s12 m12 l12 terms-condition">
              <mat-checkbox class="example-margin" formControlName="termsCondition">He leído y acepto los <a routerLink="/terminos-y-condiciones" target="_blank">Términos y condiciones y Políticas de privacidad</a></mat-checkbox>
          </div>

          <!--Button column-->
          <div class="col s12 m12 l12">
            <input [disabled]="!checkoutForm.valid" type="submit" class="button primary" value="¡Pagar ahora!">
          </div>
      
        </div> 
      </form>
    </div>

    <!--Content table column-->
    <div class="col s12 m4 l4 order">
      <p class="title">Tu pedido</p>

      <table class="striped highlight">
        <thead>
          <tr>
            <th class="product">Producto</th>
            <th class="qty">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of cart.products; let i = index;">
            <td class="product">{{book.this.title}}</td>
            <td class="qty">{{book.quantity}}</td>
          </tr>
        </tbody>
      </table>
      <cart-totals [subtotal]="cart.total" [shipping]="shipping" [total]="cart.total" [mode]="'checkout'"></cart-totals>
    </div>

  </div>
</div>

<not-found *ngIf="!cartExists" [pageType]="'cart'"></not-found>