//Blue colors
$primary-color: #00396F;
$blue-light: #55B9D4;
$blue-opacity: #A1B3C7;

//Red colors
$primary-red: #E2231A;
$red-dark: #b4170f;

//Gray colors
$primary-gray: #878786;
$gray-dark: #666666;
$gray-min-dark: #cccccc;
$gray-light: #A5A5A5;
$gray-sup-light: #F5F5F5;

//White colors
$white-color: #ffffff;
$white-dark: #eaeaea;

//Fonts
$primary-font: 'Tahoma';
$titles-font: 'Coolvetica Rg';