@import "vars.scss";
@import "mixins.scss";

.account-page {
    padding-bottom: 60px;
    padding-top: 60px;
}

.title {
    color: $primary-color;
    font-family: $primary-font;
    font-size: 35px;
    padding-top: 0px;
    margin-top: 0px;
}
    .title span {
        font-weight: bold;
    }

    .title.section {
        border-bottom: 1px solid $gray-light;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

.button.account {
    padding: 15px 20px;
}

.col {
    position: relative;
}

.notification {
    color: $white-color;
}