<table class="responsive-table">
  <tr id="subtotal">
    <th>Subtotal</th>
    <td>{{subtotal | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}</td>
  </tr>
  <tr id="shipping">
    <th>Envío</th>
    <td *ngIf="shipping.type == 'free'">{{shipping.description}}</td>
    <td *ngIf="shipping.type == 'payment'">{{shipping.price | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}</td>
  </tr>
  <tr id="total">
    <th>Total</th>
    <th id="price">{{total | currency:'COP':'symbol-narrow':'4.0-1' | replaceCurrencySeparator:',':'.'}}</th>
  </tr>
  <tr id="actions">
    <td colspan="2">
      <a class="button primary waves-effect waves-light">Finalizar compra</a>
    </td>
  </tr>
</table>