@import "vars.scss";
@import "mixins.scss";

.single-book {
    font-family: $primary-font;
    padding-bottom: 40px;
    padding-top: 40px;
    position: relative;
}

.single-book .row {
    position: relative;
}

/*COLUMN IMAGE*/
.image-book img {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
}
    .image-book img.active {
        max-height: none;
        max-width: none;
    }

#image-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 100;
}

#image-container.scroll-waiting {
    bottom: 0px;
    left: 0;
    @include calc(max-height, '100vh - 180px');
    @include calc(max-width, '41.6666666667% - 0.75rem');
    position: absolute;
}

#image-container.scroll-fixed {
    left: 5%;
    @include calc(max-height, '100vh - 180px');
    @include calc(max-width, '41.6666666667% - 3.75rem');
    position: fixed;
    top: 160px;
}
    #image-container.scroll-fixed img,
    #image-container.scroll-waiting img {
        @include calc(max-height, '100vh - 340px');
    }
        #image-container.scroll-fixed img.active,
        #image-container.scroll-waiting img.active {
            max-height: none;
        }

/*Scroll interaction*/
.scroll-info {
    background-color: $gray-sup-light;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
    padding: 30px 5%;
    text-align: center;
}
    .scroll-info .add-to-cart {
        margin-bottom: 0px;
        margin-right: 0px;
    }

/*COLUMN INFORMATION*/
.summary-book {
    padding-left: 40px;
}

.name {
    color: $primary-color;
    font-size: 40px;
    font-weight: bold;
    line-height: 100%;
    margin: 0px;
}

.author {
    font-size: 23px;
    font-weight: bold;
    margin: 20px 0px;
}
    .author a {
        color: $gray-dark;
        position: relative;
        text-decoration: none;
    }
        .author a:before {
            content: '';
            background-color: $gray-dark;
            bottom: -4px;
            height: 1px;
            left: 0px;
            position: absolute;
            @include transition('all 0.4s ease');
            width: 0%;
        }
        .author a:hover:before {
            width: 100%;
        }

.price {
    color: $primary-red;
    font-size: 40px;
    font-weight: bold;
    line-height: 100%;
    margin: 0px;
}

.shipping {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
}

.versions {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px;
}
    .version-btn {
        color: $gray-dark;
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle;
    }
        .version-btn span {
            border-radius: 50%;
            border: 1px solid $gray-light;
            color: $primary-color;
            display: inline-block;
            font-size: 20px;
            height: 37px;
            line-height: 35px;
            text-align: center;
            @include transition('all 0.4s ease');
            vertical-align: inherit;
            width: 37px;
        }
            .version-btn span.icon-book {
                font-size: 15px;
            }

        .version-btn:hover span {
            background-color: $primary-color;
            border-color: $primary-color;
            color: $white-color;
        }

.add-to-cart {
    margin: 20px 10px 20px 0px;
}
    .add-to-cart input {
        height: 39px;
        margin-bottom: 0px;
        margin-right: 20px;
        width: 150px;
        vertical-align: middle;
    }
    .add-to-cart .button {
        text-align: center;
    }

/*Author Panel*/
.row.author-item {
    margin-bottom: 10px;
}
    /*Image*/
    .author-item .image img {
        border-radius: 50%;
        overflow: hidden;
        height: auto;
        max-width: 100%;
    }
    /*Information*/
    .author-item .name {
        font-size: 25px;
    }
    .author-item .description {
        margin: 10px auto;
    }

/*Mockup book page loader*/
.mockup {
    &.image {
        padding-top: 100%;
        width: 100%;
    }

    &.name {
        height: 80px;
        margin-bottom: 20px;
    }

    &.author {
        height: 30px;
    }

    &.shipping {
        height: 40px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    &.accordion {
        height: 50px;
    }
}

/*
** RESPONSIVE
*/
@media screen and (max-width: 992px) {
    //Image column
    .image-book {
        margin-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
        #image-container.scroll-waiting,
        #image-container.scroll-fixed {
            left: 0px;
            max-height: none;
            max-width: none;
            position: relative;
            top: 0px;
        }
            #image-container.scroll-fixed img,
            #image-container.scroll-waiting img {
                max-height: none;
            }
        .scroll-info {
            display: none !important;
        }

    //Summary column
    .summary-book {
        padding-left: 0px;
        padding-right: 0px;
    }
        .name, .price {
            font-size: 30px;
        }
        .author {
            font-size: 20px;
        }

    .row.author-item {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .add-to-cart {
        margin-left: 0px;
        margin-right: 0px;
    }
        .add-to-cart input {
            @include calc(width, '35% - 10px');
        }
        .add-to-cart .button {
            @include calc(width, '65% - 10px');
        }
}