ul.social-networks {
    list-style: none;
}

/*Top social network*/
ul.social-networks.top {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
    ul.social-networks.top li {
        position: relative;
    }
        ul.social-networks.top li a {
            background-color: transparent;
            display: flex;
            flex-flow: column wrap;
            height: 40px;
            justify-content: center;
            line-height: 40px;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
            width: 40px;
        }
            ul.social-networks.top li a img {
                display: block;
                margin: 0px auto;
                max-height: 35px;
            }

            ul.social-networks.top li:hover a,
            ul.social-networks.top li a:hover {
                background-color: #00396F;
            }

ul.social-networks.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 10px;
    margin-top: 0;
}
    ul.social-networks.main li {
        margin: 0px 10px;
        position: relative;
    }
        ul.social-networks.main li a {
            border-radius: 5px;
            display: flex;
            flex-flow: column wrap;
            height: 50px;
            justify-content: center;
            line-height: 50px;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            transition: all 0.4s ease;
            width: 50px;
        }
            ul.social-networks.main li a.bg-blue {
                background-color: #00396F;
            }
            ul.social-networks.main li a.bg-white {
                background-color: #ffffff;
            }
            ul.social-networks.main li a img {
                display: block;
                margin: auto;
                max-height: 40px;
            }
            ul.social-networks.main li:hover a,
            ul.social-networks.main li a:hover {
                background-color: #55B9D4;
            }