<div *ngIf="showLoader" class="loader-loops">
  Cargando publicaciones...
  <app-loader *ngIf="loader.show" [mode]="loader.mode"></app-loader>
</div>

<ngu-carousel *ngIf="showPosts && posts.length > 0" [inputs]="postsCarousel" (carouselLoad)="myfunc($event)" [dataSource]="posts">
  <ngu-item NguCarouselItem *nguCarouselDef="let post;">
    <div class="content">

      <div class="image-container">
        <a *ngIf="post.thumbnail && post.thumbnail !== ''" routerLink="/blog/{{post.slug}}">
          <img src="post.thumbnail" alt="">
        </a>
        <a *ngIf="!post.thumbnail || post.thumbnail == ''" routerLink="/blog/{{post.slug}}">
          <img src="assets/img/common/no-image.jpg" alt="">
        </a>
      </div>

      <div class="info">
        <h3 class="title">
          <a routerLink="/blog/{{post.slug}}">{{post.title}}</a>
        </h3>
        <p class="date">{{post.registerDate | date:'mediumDate'}}</p>
        <p *ngIf="!post.excerpt || post.excerpt == ''" class="description">
          <span [innerHTML]="post.excerpt | slice:0:100"></span><span>...</span>
        </p>
        <p *ngIf="post.excerpt && post.excerpt != ''" class="description">
          <span [innerHTML]="post.excerpt | slice:0:100"></span><span>...</span>
        </p>

        <p><a routerLink="/blog/{{post.slug}}" class="button primary">Leer más</a></p>
      </div>
    </div>

  </ngu-item>
  <button NguCarouselPrev class='leftRs'></button>
  <button NguCarouselNext class='rightRs'></button>
</ngu-carousel>

<div *ngIf="error.show" class="loader-loops">
  <p>{{error.msg}}</p>
</div>