@import "vars.scss";
@import "mixins.scss";

input[type="text"], input[type="password"], input[type="email"] {
    text-align: left;
    width: 100%;
}

label {
    display: block;
    font-size: 14px;
    text-align: left;
}

.terms-condition {
    font-family: $primary-font;
    margin: 10px auto 15px;
}
    .terms-condition span {
        font-size: 14px;
    }

.button.primary {
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
}