<form (ngSubmit)="register(registerForm)" [formGroup]="registerform" #registerForm="ngForm">
    
    <div class="row">
        <!--Name column-->
        <div class="col s12 m6 l6">
            <label for="name">Nombres:</label>
            <input type="text" id="name" formControlName="name" autocomplete="off" placeholder="Escribe tu nombre...">    
        </div>

        <!--Lastname column-->
        <div class="col s12 m6 l6">
            <label for="lastname">Apellidos:</label>
            <input type="text" id="lastname" formControlName="lastname" autocomplete="off" placeholder="Escribe tu apellido...">
        </div>

        <!--Email column-->
        <div class="col s12 m12 l12">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" formControlName="email" autocomplete="off" placeholder="Escribe tu correo electrónico...">
        </div>

        <div class="col s12 m12 l12">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" formControlName="password" placeholder="Escribe tu contraseña...">
        </div>

        <div class="col s12 m12 l12">
            <label for="repassword">Confirmar contraseña:</label>
            <input type="password" id="repassword" formControlName="repassword" placeholder="Confirma tu contraseña...">
        </div>

        <div class="col s12 m12 l12 terms-condition">
            <mat-checkbox class="example-margin" formControlName="termsCondition">Acepto los <a routerLink="terminos-y-condiciones">Términos y condiciones</a></mat-checkbox>
        </div>

        <div class="col s12 m12 l12">
            <p class="error" >
                <span *ngIf="error.show">{{error.msg}}</span>
        
                <!--If password's not are equal's-->
                <span *ngIf="registerform.get('password').touched && registerform.get('repassword').touched && registerform.errors && registerform.errors.mismatch">Las contraseñas no coinciden</span>
            </p>
        </div>

        <div class="col s12 m12 l12">
            <input [disabled]="!registerForm.valid" type="submit" class="button primary" value="Crear cuenta">
        </div>

    </div>

</form>

<app-loader *ngIf="loader.show" [mode]="loader.mode"></app-loader>